---
version: 2
jobs:
  pr_check:
    docker:
      - image: circleci/openjdk:8-jdk
    steps:
    - checkout #check out source code
    - run:
        name: Install packages
        command: sudo apt-get update && sudo apt-get install -y zip && sudo apt-get install -y python-pip
    - run:
        name: maven build
        command: mvn clean install && pwd && ls -al && ls -al target/
    - run:
        name: login docker 
        command: docker login --username $DOCKER_USER --password $DOCKER_PASS
    - run:
        name: create docker image
        command: docker build -t webappimage:latest .

  build_deploy:
    docker:
      - image: circleci/openjdk:8-jdk
    steps:
    - checkout #check out source code
    - run:
        name: Install packages
        command: sudo apt-get update &&
                 sudo apt-get install -y python-pip
    - run:
        name: maven build
        command: mvn clean install && pwd && ls -al && ls -al target/
    
workflows:
  version: 2
  pr-check-workflow:
    jobs:
    - pr_check
  build-deploy-workflow:
    jobs:
    - build_deploy:
        filters:
          branches:
            only: master